<!DOCTYPE HTML>

<html>
	<head>
		<title>Tyler An Onlie CV</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		
		<!-- Header -->
			<header id="header">
				<div class="bg-image"></div>
				<div class="inner">
					<a  class="image avatar"><img src="images/me.jpg" alt="me" /></a>
					
					<h1><strong>Co-operative<br>Responsible<br>Innovative<br>Creative<br>Smile</a></strong></h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<section id="intro" class="main">
					<div class="spotlight">
						<div class="content">

							<header class="major">
								
								<h2>Tyler An</h2>
								<ul class="actions">
									<br><li><a href="download/Tyler(Hong Chang)An_CV.pdf" download class="button" target="_blank"><i class="fa fa-download" ></i>Download CV</a></li>
								</ul>
								<i class="far fa-envelope"></i>jum94kr@gmail.com 
								<br><i class="fas fa-mobile"></i> 0468 615 364 </a>
								<br><i class="fas fa-home"></i>17 View Street Mount Gravatt East 4122 QLD
								<div>

							</div>
							</header>

							<div class="timeline-item" date-is='20-07-1990'>
								<br>
								<div class="myDiv"><h2>About Me</h2></div>
								<p>I have graduated as a web developer and I am currently seeking a career as an IT developer. I currently have broad range of experience and understanding within the field of programming and web development such as PHP, React, Vanilla Javascript and database language such as SQL. I have a very strong <strong>communication and collaborative work skills</strong> from my previous working experience and from my studies.  
								</p>
							</div>	



				</section>

				<!-- One -->
					<section id="one">
						
						<header class="major">
							<div class="myDiv"><h2><i class="fas fa-battery-full"></i>  Motivation for this position</h2></div>
						<p>I would like to say that RPA is a convenient and innovative process
							that can help people and can be used for various tasks. Personally,
							I have a lot of interest in artificial intelligence after watching
							documentary called Alphago and I personally think the field of
							application will increase significantly because artificial intelligence
							and RPA are deeply interlocked.</p>		
							
							

					</section>
					
					
					<section>
						<header class="major">
							<div class="myDiv"><h2><i class="fas fa-briefcase"></i>  Work Experience</h2></div>
						</header>
						<div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
							<svg xmlns="http://www.w3.org/2000/svg">
							  <symbol viewBox="0 0 24 24" id="expand-more">
								<path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
							  </symbol>
							  <symbol viewBox="0 0 24 24" id="close">
								<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
							  </symbol>
							</svg>
						  </div>
						  
						  <details>
							<summary>
						  
							  <i><strong>March 2016 - July 2017 </strong></i>
							  <i>SOL Migration (Australia)</i>

							  
							  <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
							  <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
							</summary>
							<br>
							
							<h2>Web Developer | E-marketer</h2>

							SOL Migration is Migration and Education Agent company based on Queensland. My role in this company was Web Developer. My responsibility whithin this workplace was to manage the user database and reconstruct the main website. Moreover I was able to get a chance to develop a seminar visitor web application to manager the number of visitors as a team. Therefore it was a great experience of working as a team and successfully complete a project. After I have successfully completed a project, I got opportunity to develop a Human Resource management web application using PHP and from this experience I have improve my interaction and communication skill between other team.
							
							<p><li>Design and developed brand new multilingual website.
								(https://www.soledu.net/)</li>
							   <li>Developed Human resources management program using PHP.</li>
							<li>Assists the department head in carrying out digital marketing campaigns.</li>
							<li>Developed Seminar Sign up System</li>
							<li>E-marketing using Google Adward, Facebook, MySMS, Mailerlite and
								MailChimp.</li>
								
						  </details>
						  
						  <details>
							<summary>
						  
							  <i><strong>April 2020 - December 2020</strong></i>
							  <i>RiverOne (Australia) | Chuteoff</i>

												  
							  <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
							  <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
							</summary>
							<br>
							
							<h2>Web Developer / Tester</h2>

							Due to the current situation, all the work under RiverOne was process through online due to the restriction. Therefore I have very strong communication skill and work process in Online workplace situation. From RiverOne I was able to get a great experience working under small team and taking all the responsibilities of testing the entire web application. I have used React as a frontend and PHP manage backend to complete this project. Especially the all testing process was done through my instruction and I was able to catch all the details of this web application.
							
							<p><li>- Developed a brand new database management web application for 'ChuteOff'
								(https://www.chuteoff.com/) with React and PHP.
								</li>
							   <li> Professional testing of web application was process through my instruction</li>

								
						  </details>

						  

					</section>

							<!-- Two -->
									<section id="two">
										<div class="myDiv"><h1><i class="fas fa-project-diagram"></i> Recent Work</h1></div>
										<div class="row">
											<article class="col-6 col-12-xsmall work-item">
												<a href="images/fulls/Feature75 mobx.gif" class="image fit thumb"><img src="images/thumbs/Feature75 mobx.gif" alt="" /></a>
												<h3>Human Resource/Data management Dashboard</h3>
												<p>React, PHP, SQL Database and AWS upload</p>
												<a target="_blank" rel="noopener noreferrer" href=https://github.com/minkwon/quinn-site-manager.git class="icon brands fa-github"><span class="label">Github</span></a>
											</article>
											<article class="col-6 col-12-xsmall work-item">
												<a href="images/fulls/\upload2.gif" class="image fit thumb"><img src="images/thumbs/upload2.gif" alt="" /></a>
												<h3>Mobile Photo Upload</h3>
												<p>React, PHP, SQL Database and AWS upload</p>
												<a target="_blank" rel="noopener noreferrer" href=https://github.com/minkwon/quinn-site-manager.git class="icon brands fa-github"><span class="label">Github</span></a>
											</article>
											<article class="col-6 col-12-xsmall work-item">
												<a href="images/fulls/Todo.gif" class="image fit thumb"><img src="images/thumbs/Todo.gif" alt="" /></a>
												<h3>To Do List</h3>
												<p>Vanilla Javascript</p>
												<a target="_blank" rel="noopener noreferrer" href="https://github.com/jum94kr/Finalised.git" class="icon brands fa-github"><span class="label">Github</span></a>
											</article>
										</div>
									</section>
			
				
					<section id="banner">
						<div class="inner">
							<header>
								<div class="myDiv"><h1><i class="fas fa-book"></i> Skills</h1></div>
							</header>
		
							<div class="flex ">
		
								<div>
									<span class="icon fa-car"></span>
									
									<h3>SQL</h3>
									<p>I have an experience with managing customer/user data using SQL and analyse these data to estimate the number of visitors for the next seminar. </p>
								</div>
		
								<div>
									<span class="icon fa-camera"></span>
									<h3><img src="images/php.png"  style="width:60px;height:50px;"  />
									<p>I have wide understanding of developing web service using PHP. I have an experience developing a human resources management system with PHP with database.</p>
								</div>
		
								<div>
									<span class="icon fa-bug"></span>
									<h3><img src="images/aws.png"  style="width:50px;height:30px;"  /></h3>
									<p>I have an experience hosting a web service to the Amazon Web Service. </p>
								</div>
		
							</div>

						</div>
					</section>
		
		

					</section>


					<section id="one">
						<header class="major">
							<div class="myDiv"><h2><i class="fas fa-graduation-cap"></i>   Education</h2></div>
						</header>

						
						<div class="history-tl-container">
							<ul class="tl">
							  <li class="tl-item" ng-repeat="item in retailer_history">
								<div class="timestamp">
								  2006 - 2012
								</div>
								<div class="item-title">John Paul College (Daisy Hill QLD)
								  ) </div>
								<div class="item-detail">High School</div>
						  
							  </li>
							  <li class="tl-item" ng-repeat="item in retailer_history">
								<div class="timestamp">
								  2013 - 2015
								</div>
								<div class="item-title">University of Queensland (St. Lucia)</div>
								<div class="item-detail">Bachelor Degree | Information Technology</div>
							  </li>
							  <li class="tl-item" ng-repeat="item in retailer_history">
								<div class="timestamp">
								  2014 - 2015
								</div>
								<div class="item-title">Boston University (Boston, MA)
							  </div>
								<div class="item-detail">Exchange Program | Computer Science</div>
							  </li>
							  <li class="tl-item" ng-repeat="item in retailer_history">
								  <div class="timestamp">
									2016 - 2017
								  </div>
								  <div class="item-title">Navitas Professional</div>
								  <div class="item-detail">Professional Training Course | Information Technology Employee Work Training</div>
							  </li>
								<li class="tl-item" ng-repeat="item in retailer_history">
								  <div class="timestamp">
									2019 - 2020
								  </div>
								  <div class="item-title">Charles Sturt University
								  </div>
								  <div class="item-detail">Master Degree | Cloud Computing
								  </div>
							  </li>
						  
							</ul>
						  
						  </div>
						
				
					</section>


					





				<!-- Three -->
				<section id="three" >
					<header class="major">
						<div class="myDiv"><h2><i class="far fa-star"></i>   Personal Interest</h2></div>
					</header>
					<div class="inner">
						<div class="flex flex-2">
							<article>
								
									<img src="images/manu.png"  style="width:100px;height:100px;"  />
							
								<header>
									<h3>Football<br /></h3>
								</header>
								<p>Love playing and watching Football and all other outdoor activities. <br />Specailly Big fan of Manchester United</p>

							</article>
							<article>
								
								<i class="fas fa-gamepad fa-5x"></i>
							
								<header>
									<h3>Game</h3>
								</header>
								<p>Enjoy playing League of legend and anyother team cooperative games.</p>

							</article>
						</div>
					</div>

				


			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://github.com/jum94kr" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li><i class="far fa-envelope"></i>  jum94kr@gmail.com </li><li><i class="fas fa-mobile"></i>  0468 615 364</a></li>
						
							<li><a href="download/Tyler(Hong Chang)An_CV.pdf" download class="button" target="_blank"><i class="fa fa-download" ></i>Download CV</a></li>
						
					</ul>
					
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>